In [15]:
import pandas as pd
import numpy as np
#import csv

filename = "C:\\Users\\sebat\\OneDrive - ETH Zurich\\PHD\\projekte\\Agathon\\Messungen\\Quinto_at_Agathon\\AnvilPivot\\Log_AP_26_10_2023.csv"

data=pd.read_csv(filename,names=list('abcdefghijkl'))

In [34]:
MachineData=pd.DataFrame()
for i in range(0,len(data),3):
    MachineData

In [60]:
DriveName = ["DriveTemperature 1","DriveTemperature 2","DriveTemperature 3","DriveTemperature 3","DriveTemperature 4"
    "DriveTemperature 5","DriveTemperature 6","DriveTemperature 7","DriveTemperature 8","DriveTemperature 9","DriveTemperature 10","DriveTemperature 11"]
MachineData=pd.DataFrame(columns=["Date","DriveTemperature 1","DriveTemperature 2","DriveTemperature 3","DriveTemperature 3","DriveTemperature 4"
    "DriveTemperature 5","DriveTemperature 6","DriveTemperature 7","DriveTemperature 8","DriveTemperature 9","DriveTemperature 10","DriveTemperature 11",
    "DrivePower","DriveEnergy"])
MachineData.Date = data[data.index % 4 ==1 ].iloc[:,0]
for i in range(11):
    MachineData[DriveName] = data[data.index % 4 ==1 +1].iloc[i,0]
MachineData

,Date,DriveTemperature 1,DriveTemperature 2,DriveTemperature 3,DriveTemperature 3,DriveTemperature 4DriveTemperature 5,DriveTemperature 6,DriveTemperature 7,DriveTemperature 8,DriveTemperature 9,DriveTemperature 10,DriveTemperature 11,DrivePower,DriveEnergy
1,26.10.2023 13:06:09.210753,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
5,26.10.2023 13:06:10.582084,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
9,26.10.2023 13:06:11.905543,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
13,26.10.2023 13:06:13.263910,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
17,26.10.2023 13:06:14.645216,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48085,26.10.2023 17:34:57.108567,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
48089,26.10.2023 17:34:58.425044,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
48093,26.10.2023 17:34:59.774434,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
48097,26.10.2023 17:35:01.053014,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN
48101,26.10.2023 17:35:02.347552,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,397.0,NaN,NaN

In [59]:
TempName.append=[]
for i in range(11):
    TempName.append("DriveTemperature"+str(i))
TempName

AttributeError: 'str' object has no attribute 'append'

In [3]:
MachineData=pd.DataFrame(columns=["Date,DriveTemperature","DrivePower","DriveEnergy"])
for i in range(0,10,3):
    if i=0:
        MachineData.Date = (data[i,0])
        MachineData.DriveTemperature = data[i+1,0:11]/10
        MachineData.DrivePower = data[i+2,0:11]/10
        MachineData.DriveEnergy =  data[i+3,0:11]/10
    else:
        MachineData.Date.append(data[i,0])
        MachineData.DriveTemperature = data[i+1,0:11]/10
        MachineData.DrivePower = data[i+2,0:11]/10
        MachineData.DriveEnergy =
MachineData

TypeError: 'method' object is not subscriptable

In [40]:
data

,a,b,c,d,e,f,g,h,i,j,k,l
0,Date/Time,Channel 1,Channel 2,Channel 3,Channel 4,Channel 5,Channel 6,Channel 7,Channel 8,NaN,NaN,NaN
1,26.10.2023 13:06:09.210753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,397.0,222.0,229.0,236.0,236.0,20.0,20.0,453.0,280.0,288.0,258.0,258.0
3,4.0,107.0,106.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5660069.0,239168.0,239169.0,5153.0,5153.0,204750.0,204750.0,2146.0,1823.0,-446.0,3698.0,3698.0
...,...,...,...,...,...,...,...,...,...,...,...,...
48100,6408060.0,418729.0,418729.0,5153.0,5153.0,271187.0,271187.0,4646.0,2087.0,-520.0,5440.0,5440.0
48101,26.10.2023 17:35:02.347552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48102,375.0,185.0,185.0,229.0,229.0,20.0,20.0,446.0,280.0,295.0,258.0,258.0
48103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48104,6408060.0,418729.0,418729.0,5153.0,5153.0,271187.0,271187.0,4646.0,2087.0,-520.0,5440.0,5440.0